---
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="grid gap-y-4 container mx-auto py-8 justify-center">
    <Card>
      <p class="font-mono bg-white text-black w-fit px-2 font-bold">
        <p class="font-mono bg-white text-black w-fit px-2 font-bold">blog</p>
      </p>
    </Card>
  </div>
</Layout>
