---
import Card from "../../components/Card.astro";
import HighlightText from "../../components/HighlightText.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="grid gap-y-4 justify-center">
    <Card>
      <HighlightText>blog</HighlightText>
    </Card>
  </div>
</Layout>
