---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import pfp from "../assets/pfp.png";
import ContactInfo from "../components/ContactInfo.astro";
import HighlightText from "../components/HighlightText.astro";

const socials = [
  { icon: "mdi:twitter", label: "@frolleks" },
  { icon: "ic:baseline-discord", label: "@frolleks" },
];
---

<Layout>
  <div class="grid gap-y-4 justify-center">
    <Card>
      <div class="flex items-start justify-between gap-x-2">
        <div class="flex flex-col">
          <h1 class="font-mono text-xl font-semibold">hi, i'm frolleks</h1>

          <div class="mt-2 grid gap-y-2">
            <div class="grid gap-y-1">
              <HighlightText>about me!</HighlightText>
              <p class="font-mono">
                i play video games, code, and read books sometimes. i'm
                currently more into classics, hit me up if you got any
                recommendations.
              </p>
            </div>

            <div class="grid gap-y-1">
              <HighlightText>contact me!</HighlightText>
              <div class="flex gap-2">
                {
                  socials.map((social) => (
                    <ContactInfo icon={social.icon} label={social.label} />
                  ))
                }
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <Image
            src={pfp}
            alt="frolleks' profile picture"
            width={384}
            height={384}
            class="shrink-0"
          />
          <p class="font-mono italic">{"<3"} angel devil!</p>
        </div>
      </div>
    </Card>

    <a href="/projects">
      <Card>
        <div class="flex items-center justify-between">
          <HighlightText>projects</HighlightText>
          <Icon name="mdi:arrow-right" />
        </div>
      </Card>
    </a>

    <a href="/blog">
      <Card>
        <div class="flex items-center justify-between">
          <HighlightText>blog</HighlightText>
          <Icon name="mdi:arrow-right" />
        </div>
      </Card>
    </a>
  </div>
</Layout>
