---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";

import pfp from "../assets/pfp.png";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="grid gap-y-4 justify-center">
    <Card>
      <div class="flex items-start justify-between gap-x-2">
        <div class="flex flex-col">
          <h1 class="font-mono text-xl font-semibold">hi, i'm frolleks</h1>
          <div class="mt-2">
            <p class="font-mono bg-white text-black w-fit px-2 font-bold mb-1">
              about me!
            </p>
            <p class="font-mono">
              i play video games, code, and read books sometimes. i'm currently
              more into classics, hit me up if you got any recommendations.
            </p>
            <p
              class="font-mono bg-white text-black w-fit px-2 font-bold mb-1 mt-2"
            >
              contact me!
            </p>
            <div class="flex gap-2">
              <div
                class="flex items-center font-mono border border-white w-fit px-2 font-bold mb-1 mt-1 gap-x-1.5 shadow-[2px_2px_0px_0px_rgba(255,255,255,1)] hover:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)]"
              >
                <Icon name="mdi:twitter" />
                <p>@frolleks</p>
              </div>
              <div
                class="flex items-center font-mono border border-white w-fit px-2 font-bold mb-1 mt-1 gap-x-1.5 shadow-[2px_2px_0px_0px_rgba(255,255,255,1)] hover:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)]"
              >
                <Icon name="ic:baseline-discord" />
                <p>@frolleks</p>
              </div>
            </div>
          </div>
        </div>

        <div class="flex flex-col">
          <Image
            src={pfp}
            alt="frolleks' profile picture"
            width={384}
            height={384}
            class="shrink-0"
          />
          <p class="font-mono italic">{"<3"} angel devil!</p>
        </div>
      </div>
    </Card>

    <a href="/projects">
      <Card>
        <p class="font-mono bg-white text-black w-fit px-2 font-bold">
          <div class="flex items-center justify-between">
            <p class="font-mono bg-white text-black w-fit px-2 font-bold">
              projects
            </p>
            <Icon name="mdi:arrow-right" />
          </div>
        </p>
      </Card>
    </a>

    <a href="/blog">
      <Card
        ><div class="flex items-center justify-between">
          <p class="font-mono bg-white text-black w-fit px-2 font-bold">blog</p>
          <Icon name="mdi:arrow-right" />
        </div>
      </Card>
    </a>
  </div>
</Layout>
