---
const { class: className = "" } = Astro.props;
---

<div
  class={`border p-4 transition-shadow shadow-[2px_2px_0px_0px_rgba(255,255,255,1)] hover:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)] border-white text-white bg-black ${className}`}
>
  <slot />
</div>
