<div
  class="grid border p-4 w-2xl transition-shadow shadow-[2px_2px_0px_0px_rgba(255,255,255,1)] hover:shadow-[4px_4px_0px_0px_rgba(255,255,255,1)] border-white text-white bg-black"
>
  <slot />
</div>
