---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <div class="grid gap-y-4 justify-center">
    <Card>
      <p class="font-mono bg-white text-black w-fit px-2 font-bold">
        <p class="font-mono bg-white text-black w-fit px-2 font-bold">
          projects
        </p>
      </p>
    </Card>
  </div>
</Layout>
