---
import Card from "../components/Card.astro";
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout>
  <div class="flex h-full min-h-0 flex-col gap-y-4">
    <Card class="shrink-0">
      <h1 class="font-mono text-4xl font-semibold">
        {frontmatter.title}
      </h1>
      <p class="font-mono">
        {frontmatter.description} &middot; {frontmatter.minutesRead}
      </p>
    </Card>

    <Card class="flex min-h-0 flex-1 flex-col mb-4">
      <article
        class="min-h-0 font-mono prose dark:prose-invert max-w-none prose-headings:font-bold prose-a:text-blue-600"
      >
        <slot />
      </article>
    </Card>
  </div>
</Layout>
