---
import "../styles/global.css";
import bgImage from "../assets/background.jpg";
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>frolleks</title>
  </head>
  <body>
    <div class="relative h-screen overflow-hidden">
      <div
        class="absolute inset-0 bg-cover bg-center"
        style={`background-image: url(${bgImage.src});`}
      >
      </div>

      <div class="relative z-10 container mx-auto lg:max-w-3xl max-w-2xl">
        <Navbar />
        <slot />
      </div>
    </div>
  </body>
</html>
