---
import "../styles/global.css";
import bgImage from "../assets/background.jpg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>frolleks</title>
  </head>
  <body>
    <div class="relative h-screen overflow-hidden">
      <div
        class="absolute inset-0
      bg-cover bg-center
      animate-[background-pan_10s_ease-in-out_infinite_alternate]
      motion-reduce:animate-none"
        style={`background-image: url(${bgImage.src});`}
      >
      </div>

      <div class="relative z-10">
        <slot />
      </div>
    </div>
  </body>
</html>
